body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E7EB;
}

header{
    width: 100%;
    height: auto;
    background-color: #1F2937;
    display: inline-flex;
    justify-content: space-between;
}

#ailergy-logo{
    font-size: 24px;
    color: #E5E7EB;
    margin: 10px 100px 10px 50px;
}

.header-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-links a{
    color: #E5E7EB;
    font-size: 14px;
    margin: 0 20px 0 20px;
    text-decoration: none;
}

.hero{
    height: auto;
    background-color: #1F2937;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    color: #E5E7EB;
}
.welcome-text{
    width: 35%;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 18px;
}

.welcome-image{
    width: 30%;
    height: 300px;
    background-color: #E5E7EB;
}

.welcome-text h1{
    font-size: 48px;
    font-weight: 900;
}

.welcome-text button{
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 14px 5px 14px;
}

.information{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information h2{
    font-size: 38px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0 50px 0;
}

.info-images{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-image img{
    border: 5px, solid, #3882F6;
    border-radius: 12px;
    height: 300px;
    width: 300px;
}

.info-image p{
    padding-top: 15px;
}

.quote-container{
    background-color: #d3d8e2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.quote-box{
    width: 50%;
    pad: 50px 0 5px 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-container p{
    font-size: 28px;
    color: #0e0f11;
    font-weight: 900;
    margin: -30px -550px 0 0;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d3d8e2;
}

.signup-container{
    background-color: #1c1c20;
    height: 70vh;
    width: 50vh;
    margin: 17vh auto 25vh auto;
    border-radius: 5vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.signup-container h2{
    color: #d3d8e2;
    font-size: 38px;
    font-weight: 900;
    margin-top: 10vh;
}

.signup-container input{
    width: 35vh;
    height: 3vh;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 3px;
    margin: 15px auto;
}

.signup-container button{
    width: 35vh;
    height: 5vh;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    font-weight: 900;
    font-size: 20px;
}

.signup-container #back-btn{
    background: none;
    color: #E5E7EB;
    text-decoration: underline;
    font-size: 17px;
}

.hidden{
    display: none;
}

.blur{
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    overflow: hidden;
    filter: blur(13px);
    position: absolute;
    background-size: cover;
}

.no-scroll{
    height: 100%;
    overflow: hidden;
}